.me1-1{
    margin-top: 100px;
}

.kanri3_1{
    margin-top: 20px;
    text-align: center;
}
.mannaka{
    text-align: center;
}
.hidari{
    
    text-align: left;
    margin-left: 20px;
}
.sayuu{
    margin-left: 20px;
    margin-right: 20px;
}
.top{
    margin-top: 40px;
}
.top-20{
    margin-top: 20px;
}
.top-10{
    margin-top: 10px;
}
.sousin-migisita{
    margin-top: 40px;
    text-align: right;
}
.ryouhasi{
    text-align:justify;
}
.migi{
    text-align: right;
}
.sita{
    margin-bottom: 10px;
}